renderer:
    class: EditFormRenderer
'Osobné údaje':
    type: group
id:
    type: hidden
osoba.meno:
    type: text
    label: 'Meno:'
    cols: 16
    required: Vyplň meno
osoba.priezvisko:
    type: text
    label: 'Priezvisko:'
    cols: 16
    required: Vyplň priezvisko
osoba.datum_narodenia:
    type: datePicker
    label: 'Dátum narodenia:'
    cols: 10
'Adresa domov':
    type: group
osoba.adresa.ulica:
    type: text
    label: 'Ulica:'
    cols: 24
    required: Vyplň adresu
osoba.adresa.mesto:
    type: text
    label: 'Mesto:'
    cols: 24
    required: Vyplň adresu
osoba.adresa.psc:
    type: text
    label: 'PSČ:'
    cols: 6
    required: Vyplň PSČ
'Kontaktné údaje':
    type: group
osoba.email:
    type: text
    label: 'Email:'
    cols: 24
osoba.jabber:
    type: text
    label: 'Jabber:'
    cols: 24
osoba.telefon:
    type: text
    label: 'Telefón:'
    cols: 16
telefon_rodic:
    type: text
    label: 'Telefón rodiča:'
    cols: 16
'Štúdium':
    type: group
skola:
    type: select
    label: 'Škola:'
    required: 'Zvoľ školu'
typ_studia:
    type: select
    label: 'Typ:'
    required: 'Zvoľ typ štúdia'
rocnik:
    type: text
    label: 'Ročník'
    cols: 3
    required: 'Zadaj číslo svojho ročníka'
'Koľko krát som bol':
    type: group
sustredeni:
    type: text
    label: 'na sústredku FKS:'
    cols: 3
    required: 'Vyplň!'
vyhier:
    type: text
    label: 'v prvej 3ke FKS:'
    cols: 3
    required: 'Vyplň!'
celostatiek:
    type: text
    label: 'na CK FO kat. A:'
    cols: 3
    required: 'Vyplň!'
'Korešpondencia':
    type: group
koresp_kam:
    type: select
    label: 'Zasielať:'
    items:
        0: domov
        1: do školy
        2: inam
koresp_adresa.ulica:
    type: text
    label: 'Ulica:'
    cols: 24
koresp_adresa.mesto:
    type: text
    label: 'Mesto:'
    cols: 24
koresp_adresa.psc:
    type: text
    label: 'PSČ:'
    cols: 6
