$white: 'ffffff';
$black: '222222';
@mixin ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
@mixin ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(../images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
@mixin ui-widget-content-a {color: #333333;}
@mixin ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(../images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
@mixin ui-state-hover { border: 1px solid #fbcb09; background: #fdf5ce url(../images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
@mixin ui-icon($color) { width: 16px; height: 16px; background-image: url(../images/ui-icons_#{$color}_256x240.png); }
@mixin ui-icon-triangle-1-n { background-position: 0 -16px; }
@mixin ui-icon-triangle-1-s { background-position: -64px -16px; }
@mixin ui-icon-carat-2-n-s { background-position: -128px 0; }
@mixin ui-icon-check { background-position: -64px -144px; }
@mixin ui-icon-close { background-position: -80px -128px; }
/**
 * Gridito CSS
 */

/* flashes */
div.gridito-flash {
	padding: 0.5em;
	margin: 1em 0;
}
div.gridito-flash .ui-icon {
	float: left;
	margin-right: 0.5em;
}

/* toolbar */
.gridito-toolbar {
	margin-bottom: 1em;
}
.gridito-toolbar .ui-button {
	margin-right: 0.5em;
}

/* table */
.gridito-table {
    @include ui-widget;
    @include ui-widget-content;
	border-collapse: collapse;
	width: 100%;
}
.gridito-table a {
    @include ui-widget-content-a;
}
.gridito-table th {
    @include ui-widget-header;
	padding: 0.5em;
	text-align: left;
}

.gridito-table tbody tr:hover {
    @include ui-state-hover;
    font-weight: normal;
    a {
        text-decoration: none;
    }
}
.gridito-table td {
	padding: 0.5em;
	border: 1px solid #BBB;
}
.gridito-actioncell .ui-button {
	margin: 0 0.5em 0 0;
}
.gridito-actioncell .ui-button:first-child {
	margin-left: 0;
}
.gridito-actioncell {
	text-align: center;
}

/* th */
.gridito-table th .gridito-sorting {
	float:right;
	margin-left: 0.5em;
	position: relative;
	top: 0.2em;
    a {
        display: block;
        @include ui-icon($white);
        opacity: 0.5;
        color: white;
        &.sort-asc, &.sort-null:hover {
            @include ui-icon-triangle-1-n;
            opacity: 1;
        }
        &.sort-desc, &.sort-asc:hover {
            @include ui-icon-triangle-1-s;
            opacity: 1;
        }
        &.sort-null, &.sort-desc:hover {
            @include ui-icon-carat-2-n-s;
        }
    }
}

.gridito-table th:hover .gridito-sorting {
	opacity: 1
}

/* paginator */
.gridito-paginator {
	margin-top: 1em;
}
