$white: 'ffffff';
$black: '222222';
$brown: #d82;
$orange: #f6a828;
$page-width: 1200px;
$errorbg: #fdb;
@mixin round($radius: 8px) {-moz-border-radius: $radius; border-radius: $radius;}

@import "../components/gridito/css/_gridito.scss";
@import "../components/menu/scss/_menu.scss";



body {
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    font-size: 0.8em;
    margin: 0;
    background-color: #765;
    //background-image: url(../images/pozadie.png);
}

#page {
    width: $page-width;
    margin: 20px auto 20px auto;
}

#content {
    width: auto;
    margin: 0 auto 0 auto;
    padding: 20px 1em 20px 1em;
    background-color: #eee;
    
}

#header {
    width: $page-width - 280px;
    background: orange url(../images/logo.png) 70px 10px no-repeat;
    font-size: 80px;
    height: 110px;
    padding: 15px 0px 0px 280px;
    p {
        margin: 0px;
    }
}
#ajax-spinner {
    position:fixed;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    background: white url('../images/ajax-loader.gif') no-repeat 50% 50%;
    padding: 32px;
    font-size: 0;
    border: 2px solid #ccc;
}
$formbg: #eada9a;
$form-header-color: #1294c4;
@import 'forms.scss';
