renderer: 
    class: EditFormRenderer
'Všeobecné informácie':
    type: group
id:
    type: hidden
nazov:
    type: text
    label: 'Názov:'
    cols: 44
    required: povinná položka
skratka:
    type: text
    label: 'Skratka:'
    cols: 16
    required: povinná položka
'Poskytované vzdelanie':
    type: group

zakladna:
    type: checkbox
    label: 'Základné:'

stredna:
    type: checkbox
    label: 'Stredné:'

Adresa:
    type: group

adresa.ulica:
    type: text
    label: 'Ulica:'
    cols: 24
    required: povinná položka
adresa.mesto:
    type: text
    label: 'Mesto:'
    cols: 24
    required: povinná položka
adresa.psc:
    type: text
    label: 'PSČ:'
    cols: 6
    required: povinná položka

'Kontaktné údaje':
    type: group
'email':
    type: text
    label: 'Email:'
    cols: 24
'telefon':
    type: text
    label: 'Telefón:'
    cols: 16
'odosli':
    type: submit
    label: 'Odošli'
