Zoznamy:
    Riešitelia: 'Riesitelia:default'
    Školy:      'Skoly:default'
    Série:      'Serie:default'
Aktuálna séria:
    'Riešitelia': RiesiteliaSeria:default
    'Príklady': 'Priklady:default'
Submit: 'Submit:default'
'Výsledkovka' : 'Vysledkovka:default'
