columns:
    poradie:
        label   : Por.
        length  : 4
    meno:
        label   : Meno
    priezvisko:
        label   : Priezvisko
    rocnik:
        label   : Roč.
    rok_maturity:
        label   : Maturita
    skratka:
        label   : Škola
    1:
        label   : B0
    2:
        label   : B1
    3:
        label   : B2
    4:
        label   : B3
    5:
        label   : B4
    bonus:
        label   : Bonus
    sum:
        label   : Sum
    total:
        label   : Body


buttons:
#    toWeb:
#        label   : 'Ulož výsledkovky na web'
#        toolbar : true
#        window  : true
#        icon    : ui-icon-plusthick
    download:
        label   : 'Stiahni TeX'
        toolbar : true
        icon    : ui-icon-circle-triangle-s
