columns:
    poradie:
        label   : Por.
        length  : 4
    meno:
        label   : Meno
    priezvisko:
        label   : Priezvisko
    rocnik:
        label   : Roč.
    rok_maturity:
        label   : Maturita
    skratka:
        label   : Škola
    4:
        label   : A1
    5:
        label   : A2
    6:
        label   : A3
    7:
        label   : A4
    bonus:
        label   : Bonus
    sum:
        label   : Sum
    total:
        label   : Body


buttons:
    save:
        label   : 'Ulož výsledkovky'
        toolbar : true
        window  : false
        icon    : ui-icon-disk
    download:
        label   : 'Stiahni TeX'
        toolbar : true
        icon    : ui-icon-circle-triangle-s
