columns:
    kod:
        label   : Č.
        length  : 4
    nazov:
        label   : Názov
        length  : 32
        editable: true
    opravovatel:
        label   : Opravuje
        editable: true
    vzorakovac:
        label   : Vzorák
        editable: true
    poznamka:
        label   : Poznámka
        editable: true


buttons:
#    pridaj:
#        label   : Pridaj príklad
#        toolbar : true
#        window  : true
#        icon    : ui-icon-plusthick
    up:
        label   : Zníž číslo
        ajax    : true
        showText: false
        icon    : ui-icon-arrowthick-1-n
    down:
        label   : Zvýš číslo
        ajax    : true
        showText: false
        icon    : ui-icon-arrowthick-1-s
    detail:
        label   : Detail
        window  : true
        icon    : ui-icon-search
        showText: false
    edit:
        label   : Zmeň
        window  : true
        icon    : ui-icon-pencil
        showText: false
    oboduj:
        label   : Oboduj
        window  : true
        showText: true
    eriesenia:
        label   : 'e-riešenia'
        showText: true
#    delete:
#        label   : Zmaž
#        icon    : ui-icon-closethick
#        showText: false
#        ajax    : true
#        confirmationQuestion : 
#            Skutočne chcete odstrániť %cislo%. príklad?
