renderer:
    class: EditFormRenderer
'Riešiteľ':
    type: group
riesitel:
    type: select
    label: Riešiteľ
meskanie:
    type: text
    label: 'Meškanie'
    cols: 3
bonus:
    type: text
    label: Bonus
    cols: 3
seria:
    type: hidden
'Príklady':
    type: group
