table: 'zoznamy_skola_view'
columns:
    skratka:
        label   : Skratka
        sortable: true
        length  : 32
    nazov:
        label   : Názov
        sortable: true
        length  : 48
    mesto:
        label   : Mesto
        sortable: true
        length  : 24
    telefon:
        label   : Telefón
        length  : 20
    email:
        label   : Email
        length  : 30
        type    : email
    zakladna:
        label   : ZŠ
        type    : boolean
    stredna:
        label   : SŠ
        type    : boolean

buttons:
    pridaj:
        label   : Pridaj školu
        toolbar : true
        window  : true
        icon    : ui-icon-plusthick
    detail:
        label   : Detail
        window  : true
        icon    : ui-icon-search
        showText: false
    edit:
        label   : Zmeň
        window  : true
        icon    : ui-icon-pencil
        showText: false
    delete:
        label   : Zmaž
        icon    : ui-icon-closethick
        showText: false
        ajax    : true
        confirmationQuestion : 
            Skutočne chcete odstrániť školu %nazov%?
