{block #content}
<h1>Registrácia</h1>
<p>Ak ste už v minulosti riešili UFO alebo FKS, nájdete svoje meno v zozname. Ak
ste v súťaži nováčikom, vyberte možnosť &bdquo;Riešim prvýkrát&ldquo;.</p>
{control nameForm}
{/block}
