{block #content}
<h1>Konto úspešne vytvorené</h1>
<p>O chvíľu ti príde potvrdzovací email s linkom na aktiváciu tvojho konta. Ak
tento email do niekoľkých minút nedostaneš, kontaktuj nás prosím na adrese
otazky@fks.sk</p>
<p><a href='{link Sign:in}'>Prihlásiť sa</a></p>
{/block}
