Zoznamy:
    Riešitelia: 'Riesitelia:default'
    Školy:      'Skoly:default'
    Série:      'Serie:default'
Aktuálna séria:
    'Riešitelia': Smolenka:smola
    'Príklady': 'Priklady:default'
    'Rozobálkovanie': Smolenka:smola
    'Zaobálkovanie': Smolenka:smola
Submit:
